/* @import '../base/base.css';
@import '../components/headerComponents.css';
@import '../components/footerComponents.css';
@import '../components/components.css'; */

header .container {
    padding-inline: 1.6rem;
}
.category_toggle_navigation {
    top: 6.2rem;
}
