/* @import '../base/base.css';
@import '../components/headerComponents.css';
@import '../components/footerComponents.css';
@import '../components/components.css'; */

header .container {
    padding-inline: 1.6rem;
}
.category_toggle_navigation {
    top: 0;
}
.category_toggle_navigation .scroller_container {
    max-height: calc(100vh - 13.2rem);
}
.sub_visual_container {
    margin-top: 1.6rem;
}
/* .title_container{margin-bottom:3rem;} */

/* .list_container .list_contents{ display: flex; flex-direction: column; align-items: flex-start; justify-content: flex-start; gap:3rem;} */
/* .list_container.list_05 {padding-inline:1.6rem 0;}
.list_container.list_05 .list_horizontal{gap:1.2rem;} */
.btn_view_more_container {
    margin-top: 3rem;
}

.list_container .list_double_row .row .row_scroll_box {
    overflow: inherit;
}

.sub_visual_container {
    margin-bottom: 6rem;
}
.list_container {
    margin-top: 1.6rem;
    padding-inline: var(--pd-in);
}
.list_container + .list_container {
    margin-top: 6rem;
}
.banner_container + .list_container {
    margin-top: 6rem;
}
