.top_button_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    padding: 2rem 0 2.8rem;
}
.top_button_container a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem 2.2rem;
    color: rgba(0, 0, 0, 0.4);
    font-family: var(--font-700);
    font-size: 1.6rem;
    line-height: 1;
    letter-spacing: -0.02em;
}
.top_button_container a.active {
    color: #000;
}

.category_navigation_container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 1.2rem 2.5rem 1.2rem 1.6rem;
}
.category_navigation_container:before {
    content: "";
    position: absolute;
    top: 1rem;
    right: 0.5rem;
    width: 3.5rem;
    height: 2.8rem;
    background: linear-gradient(
        270deg,
        rgba(255, 255, 255, 1) 65%,
        rgba(255, 255, 255, 0.3) 100%
    );
    z-index: 2;
    pointer-events: none;
}
.category_navigation_container .category_navigation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2.8rem;
    position: relative;
    width: 100%;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    z-index: 1;
}
.category_navigation_container .category_navigation::-webkit-scrollbar {
    display: none;
}
.category_navigation_container .category_navigation a {
    flex: 0 0 auto;
    position: relative;
    font-family: var(--font-600);
    font-size: 1.6rem;
    line-height: 1.4;
    letter-spacing: -0.016em;
    opacity: 0.4;
}
.category_navigation_container .category_navigation a:last-child {
    margin-right: 1.5rem;
}
.category_navigation_container .category_navigation a.active {
    opacity: 1;
}
.category_navigation_container .category_navigation a.active:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.15rem;
    background-color: #000;
}
.category_navigation_container .btn_category_toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1.2rem;
    right: 1.4rem;
    width: 2.2rem;
    height: 2.2rem;
    z-index: 3;
}
.category_navigation_container .btn_category_toggle img {
    width: 1rem;
    height: 0.5rem;
}

.depth_navigation_container {
    position: relative;
    padding-inline: 1.6rem;
    margin-block: 4rem 2rem;
    z-index: 2;
}
.depth_navigation_container .depth_navigation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.2rem;
}
.depth_navigation_container .depth_navigation .home {
    width: 2rem;
}
.depth_navigation_container .depth_navigation .arrow {
    width: 2rem;
}
.depth_navigation_container .category_container {
    position: relative;
}
.depth_navigation_container .category_container .category_current {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.3rem;
}
.category_container .category_current img {
    width: 1.2rem;
}

.component_select_list {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.6rem;
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 12rem;
    height: auto;
    padding: 2.4rem 1.6rem;
    z-index: 1;
    border-radius: 0.8rem;
    border: 1px solid rgba(0, 0, 0, 0.16);
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.12);
}
.component_select_list.active {
    display: flex;
}
.component_select_list li {
    width: 100%;
}
.component_select_list a {
    display: block;
    font-size: 1.4rem;
    text-align: left;
}

.product_condition_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-inline: 1.6rem;
    margin-block: 2rem 1.6rem;
}
.product_condition_container .total_posts {
    font-size: 1.3rem;
    line-height: 1.3;
    letter-spacing: -0.013em;
}
.product_condition_container .sort_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: auto;
}
.product_condition_container .sort_container .current_sort_state {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.2rem;
    position: relative;
}
.product_condition_container .sort_container .current_sort_state span {
    font-size: 1.3rem;
}
.product_condition_container .sort_container .current_sort_state img {
    width: 1.6rem;
}
.product_condition_container button {
    width: 2.4rem;
    opacity: 0.4;
}
.product_condition_container button.active {
    opacity: 1;
}
.product_condition_container button[data-type="array_card"] {
    margin-left: 0.8rem;
}
.product_condition_container button[data-type="array_list"] {
    margin-left: 0.6rem;
}

.badge_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.4rem;
    margin-top: 1.2rem;
}
.badge_container .badge {
    padding: 0.5rem 0.8rem;
    color: #666;
    font-family: var(--font-700);
    font-size: 1.1rem;
    font-style: normal;
    letter-spacing: -0.01em;
    line-height: 1;
    border: 1px solid #666;
    border-radius: 0.4rem;
}

.price_container {
    display: block;
    margin-top: 0.8rem;
}
.price_container .origin_price {
    display: block;
    font-size: 1.2rem;
    line-height: 1.4;
    letter-spacing: -0.012em;
    text-decoration-line: line-through;
    opacity: 0.56;
}
.price_container > div {
    display: flex;
    align-items: flex-end;
    gap: 0.4rem;
}
.price_container .discount {
    color: #e32727;
    font-family: var(--font-500);
    font-size: 1.2rem;
    line-height: 1.4;
}
.price_container .discount i {
    color: #e32727;
    font-family: var(--font-700);
    font-size: 1.6rem;
    font-style: normal;
    line-height: 1.4;
}
.price_container b {
    font-family: var(--font-700);
    font-size: 1.6rem;
    line-height: 1.4;
    letter-spacing: -0.01em;
}
.price_container .unit {
    font-family: var(--font-500);
    font-size: 1.2rem;
    line-height: 1.7;
    letter-spacing: -0.012em;
}

.delivery_fee_tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.8rem;
    padding: 0.5rem 1rem;
    border: 1px solid #000;
    color: #000;
    font-size: 1.2rem;
    letter-spacing: -0.012em;
    line-height: 1;
    border-radius: 3rem;
}

.list_horizontal {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.2rem;
    overflow: hidden;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.list_horizontal::-webkit-scrollbar {
    display: none;
}
.list_horizontal li {
    flex: 0 0 auto;
}
.list_horizontal_row .list_row_container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.2rem;
    overflow: hidden;
    overflow-x: auto;
}
.list_horizontal_row li {
    flex: 0 0 auto;
}

.list_column {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.thumbnail .message_container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5.2rem 1rem;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.18s ease;
}
.message_container.show {
    opacity: 1;
}
.thumbnail .message_container img {
    width: 2.4rem;
    height: 2.4rem;
}
.thumbnail .message_container .message {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    width: 100%;
    max-width: 24.8rem;
    padding-block: 0.8rem;
    background-color: #000;
    border-radius: 2rem;
    transform: translateY(50%);
    transition: transform 0.18s ease;
    will-change: transform;
}
.thumbnail .message_container.show .message {
    transform: translateY(0);
}
.thumbnail .message_container .message .txt {
    color: #fff;
    font-size: 1.4rem;
    line-height: 1.3;
    letter-spacing: -0.014em;
}

.button_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5.6rem;
}
.button_container a,
.button_container button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.6rem;
    color: #fff;
    font-family: var(--font-700);
    font-size: 1.4rem;
    line-height: 1.4;
    letter-spacing: -0.014em;
    background-color: #000;
    border-radius: 2rem;
}
