.full-height { height: calc(var(--vh, 1vh) * 100); }
body { background-color: var(--color-bg-1); }
main { width: 100%; max-width: calc(100% - 22.5rem); min-height: calc(var(--vh, 1vh) * 100); position: relative; margin-left: auto; }
#wrap { width: 100%; min-height: calc(var(--vh, 1vh) * 100); position: relative; padding: 7.2rem 3rem 4.4rem; margin: 0 auto; display: flex; flex-direction: column; align-items: flex-start; }
.container { position: relative;  width: 100%; max-width:160rem;}
.white_wrap { width: 100%; position: relative; }

@media screen and (max-width: 820px) {
  body { background-color: #F5F5F5; }
  main { max-width: 100%; margin-left: 0; }
  #wrap { width: 100%; padding: 6rem 0 0; }
  #wrap.white .container { background-color: var(--color-white); padding-block: 2rem; }
  .container { padding: 0 1.2rem 0; }
}