@import "../base/common.css";

.input_box {
    .input_item {
        &:last-child {
            grid-column: 1 / -1;
        }
    }
}

.common_table {
    .thead {
        padding: 0;
    }
    .tbody {
        li {
            padding: 0;
        }
        .title {
            text-align: left;
        }
    }
    .check {
        width: 4%;
    }
    .num {
        width: 6%;
    }
    .type {
        width: 15%;
    }
    .title {
        flex: 1;
        p {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
    }
    .date {
        width: 11%;
    }
    .writer, .show {
        width: 7%;
    }
    .hits {
        width: 6%;
    }
    .check {
        .chk_input {
            span {
                width: 2.4rem;
                height: 2.4rem;
                padding: 0;
                margin: 0 auto;
                &::before {
                    top: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .common_table {
        .check {
            width: 4%;
        }
        .num {
            width: 13%;
        }
        .date {
            width: 11%;
        }
        .writer, .show {
            width: 8%;
        }
        .hits {
            width: 8%;
        }
    }
}

@media screen and (max-width: 820px) {
    .search_result {
        .common_table {
            .thead {
                display: block;
                width: 2.4rem;
                height: 2.4rem;
                background-color: transparent;
                border-bottom: none;
                position: absolute;
                top: -3.2rem;
                left: 2.4rem;
                div {
                    display: none;
                    &.check {
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        padding: 0;
                        label {
                            width: 2.4rem;
                            height: 2.4rem;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            span {
                                &::before {
                                    background: url("/src/assets/icons/check_btn_thead.png") 50% 50% / contain no-repeat;
                                }
                            }
                            input {
                                &:checked {
                                    & + span {
                                        &::before {
                                            background: url("/src/assets/icons/check_btn_on.png") 50% 50% / contain no-repeat;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .tbody {
                > li {
                    padding-top: 10rem;
                    a {
                        .check {
                            order: 1;
                            top: -8.4rem;
                            left: 0;
                            z-index: 10;
                        }
                        .show {
                            order: 2;
                            position: absolute;
                            top: -3.8rem;
                            right: 0;
                        }
                        .num {
                            order: 3;
                        }
                        .type {
                            order: 4;
                        }
                        .title {
                            order: 5;
                        }
                        .date {
                            order: 6;
                        }
                        .writer {
                            order: 7;
                        }
                        .hits {
                            order: 8;
                        }

                    }
                }
            }
        }
    }
}