:root {
    --swiper-navigation-size: 2rem;
    --swiper-theme-color: #000;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
    opacity: 0;
}
.swiper{
	overflow:visible;
}
.swiper-slide {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none; /* iOS 길게누르기 메뉴 방지 */
}

.swiper-slide img {
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
  pointer-events: none;
}
header .gauge{
  height: 0.4rem;
  width: 100%;
  background: var(--color-primary);
  position: absolute;
  top: 0px;
  left: 0;
  display: block;
  width: calc(var(--p, 0) * 1%);
}
