@import "../base/base.css";
@import "../components/headerComponents.css";
@import "../components/footerComponents.css";
@import "../components/components.css";

header .container {
  padding-inline: 1.6rem;
}
.sub_visual_container {
  height: auto;
  aspect-ratio: 393/221;
}
.category_toggle_navigation {
  top: 0;
}

.list_container {
  padding-inline: 1.6rem;
}
.list_container .list_contents {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 3rem 1.2rem;
}

.list_container.type_list .list_contents {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1.6rem;
}
.list_container.type_list
  .list_contents
  .component_thumbnail.thumbnail_1_1_shop {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem;
  max-width: 100%;
}
.list_container.type_list
  .list_contents
  .component_thumbnail.thumbnail_1_1_shop
  .thumbnail {
  max-width: 17.45rem;
}
.list_container.type_list
  .list_contents
  .component_thumbnail.thumbnail_1_1_shop
  .component_information_container
  a {
  padding-top: 0;
}

.btn_view_more_container {
  margin-top: 4rem;
}
