@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --color-primary-myp: #5700ed;
}

/* 접근성 */
.sr-only {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* 보조기기 접근성 강화용 */
}

/* layout */
html,
body {
  height: 100%;
}

/* header */
header .container {
  position: relative;
  padding-inline: 1.6rem;
  height: 5.4rem;
}
header .container a {
  width: 2.4rem;
  height: 2.4rem;
}
header .container h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font-700);
  font-size: 1.8rem;
  line-height: 1.4;
}

/* footer */
footer {
  padding: 4rem 1.6rem 12rem;
}

/* 라운드 탭 */
.myp_round_tab {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  height: 4.3rem;
}
.myp_round_tab a,
.myp_round_tab button {
  padding: 0.8rem 1.4rem;
  color: #000;
  font-family: var(--font-500);
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: -0.015rem;
  border-radius: 3rem;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background-color: #fff;
}
.myp_round_tab a.active,
.myp_round_tab button.active {
  color: #fff;
  border: 1px solid var(--color-primary-myp);
  background-color: var(--color-primary-myp);
}

/* 스퀘어 탭 */
.myp_sqeure_tab {
  position: sticky;
  top: 5.4rem;
  display: flex;
  z-index: 1;
}
.myp_sqeure_tab a,
.myp_sqeure_tab button {
  position: relative;
  flex: 1;
  padding: 1.6rem;
  color: rgba(0, 0, 0, 0.4);
  font-family: var(--font-700);
  font-size: 1.8rem;
  line-height: 1.4;
  letter-spacing: -0.018rem;
  text-align: center;
  background-color: #fff;
}
.myp_sqeure_tab a:before,
.myp_sqeure_tab button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.1rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.08);
}
.myp_sqeure_tab a.active,
.myp_sqeure_tab button.active {
  color: #000;
}
.myp_sqeure_tab a.active:before,
.myp_sqeure_tab button.active:before {
  height: 0.2rem;
  background-color: #000;
}

/* 페이지네이션 */
.myp_pagination {
  display: flex;
  justify-content: space-between;
}
.myp_pagination .page_preview,
.myp_pagination .page_next {
  width: 4rem;
  height: 4rem;
  border-radius: 1.2rem;
  font-size: 0;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2rem;
}
.myp_pagination .page_preview {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cg opacity='0.4'%3E%3Cpath d='M13 16L7.21213 10.2121C7.09497 10.095 7.09497 9.90503 7.21213 9.78787L13 4' stroke='black' stroke-linecap='round'/%3E%3C/g%3E%3C/svg%3E");
}
.myp_pagination .page_next {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.4'%3E%3Cpath d='M7 16L12.7879 10.2121C12.905 10.095 12.905 9.90503 12.7879 9.78787L7 4' stroke='black' stroke-linecap='round'/%3E%3C/g%3E%3C/svg%3E");
}
.myp_pagination .page_num_list {
  display: flex;
  gap: 0.8rem;
}
.myp_pagination .page_num_list .num {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  color: #000;
  font-family: var(--font-700);
  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: -0.014rem;
  border-radius: 1.2rem;
  background-color: #fff;
}
.myp_pagination .page_num_list .num.active {
  color: #fff;
  background-color: var(--color-primary-myp);
}

/* 공통 버튼 */
.myp_button_wrap {
  display: flex;
  gap: 0.8rem;
}
.myp_button {
  flex: 1;
  padding: 1.8rem 2.4rem;
  text-align: center;
  font-family: var(--font-600);
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: -0.016rem;
  border-radius: 0.6rem;
}
.myp_button.bd_grey {
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
.myp_button.bd_point {
  color: var(--color-primary-myp);
  border: 1px solid var(--color-primary-myp);
  background-color: #fff;
}
.myp_button.bg_grey {
  color: #fff;
  border: 1px solid transparent;
  background-color: #ccc;
}
.myp_button.bg_black {
  color: #fff;
  border: 1px solid transparent;
  background-color: #000;
}
.myp_button.bg_point {
  color: #fff;
  border: 1px solid transparent;
  background-color: var(--color-primary-myp);
}

/* 플로팅 버튼 */
.myp_floating_btnWrap {
  position: fixed;
  bottom: 10rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 39.3rem;
  padding: 0 1.6rem;
  z-index: 1;
}
.myp_floating_btn {
  padding: 1.2rem 1.6rem;
  color: #fff;
  font-family: var(--font-700);
  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: -0.014rem;
  border-radius: 3rem;
  background-color: var(--color-primary-myp);
  box-shadow: 0 4px 12px 0 rgba(93, 0, 255, 0.24);
}

/* 정보입력 input */
.myp_input_group .title {
  display: inline-block;
  margin-bottom: 0.8rem;
  color: rgba(0, 0, 0, 0.8);
  font-family: var(--font-700);
  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: -0.014rem;
}
.myp_input_group .title .required {
  color: #ff3333;
  opacity: 0.8;
}

.myp_input_group .bytes {
  color: rgba(0, 0, 0, 0.56);
  text-align: right;
  font-family: var(--font-400);
  font-size: 1.2rem;
  line-height: 1.4;
  letter-spacing: -0.012rem;
  margin-top: 0.4rem;
}
.myp_input_group .alert_massage {
  display: none;
  margin-top: 0.8rem;
  color: #ff3300;
  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: -0.014rem;
}

.myp_input_box {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.myp_input_box input[type="text"],
.myp_input_box input[type="password"],
.myp_input_box input[type="email"],
.myp_input_box input[type="tel"],
.myp_input_box select,
.myp_input_box textarea {
  flex: 1;
  color: #000;
  font-family: var(--font-500);
  font-size: 1.4rem;
  letter-spacing: -0.014rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.6rem;
  background-color: #fff;
}
.myp_input_box input[type="text"],
.myp_input_box input[type="password"],
.myp_input_box input[type="email"],
.myp_input_box input[type="tel"],
.myp_input_box select {
  height: 4.4rem;
  padding: 0 1.2rem;
  line-height: 1;
}
.myp_input_box textarea {
  height: 17rem;
  padding: 1.5rem 1.2rem;
  line-height: 1.2;
}
.myp_input_box input[type="text"]::placeholder,
.myp_input_box input[type="password"]::placeholder,
.myp_input_box input[type="email"]::placeholder,
.myp_input_box input[type="tel"]::placeholder,
.myp_input_box textarea::placeholder {
  color: rgba(0, 0, 0, 0.2);
}
.myp_input_box input[type="text"]:disabled,
.myp_input_box input[type="password"]:disabled,
.myp_input_box input[type="email"]:disabled,
.myp_input_box input[type="tel"]:disabled,
.myp_input_box textarea:disabled {
  border: 1px solid rgba(0, 0, 0, 0.08);
  background-color: #eee;
}
.myp_input_box input[type="text"]:disabled::placeholder,
.myp_input_box input[type="password"]:disabled::placeholder,
.myp_input_box input[type="email"]:disabled::placeholder,
.myp_input_box input[type="tel"]:disabled::placeholder,
.myp_input_box textarea:disabled::placeholder {
  color: rgba(0, 0, 0, 0.26);
}
.myp_input_box input[type="text"]:focus,
.myp_input_box input[type="password"]:focus,
.myp_input_box input[type="email"]:focus,
.myp_input_box input[type="tel"]:focus,
.myp_input_box select:focus,
.myp_input_box textarea:focus {
  border: 1px solid var(--color-primary-myp);
}

.myp_input_box select {
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M4 6.5L7.85858 10.3586C7.93668 10.4367 8.06332 10.4367 8.14142 10.3586L12 6.5' stroke='black' stroke-linecap='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 1.2rem center;
  background-size: 1.6rem;
  cursor: pointer;
}

.myp_input_box .separator {
  color: rgba(0, 0, 0, 0.54);
  font-family: var(--font-500);
  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: -0.1rem;
}

.myp_input_box.email input {
  width: 10.4rem;
}
.myp_input_box.email .select_domain {
  width: 100%;
  display: flex;
  gap: 0.4rem;
}
.myp_input_box.email .domain_direct_input {
  display: none;
}
.myp_input_box.phone input {
  width: 11rem;
}
.myp_input_box.adress {
  flex-direction: column;
  gap: 0.6rem;
}
.myp_input_box.adress > * {
  width: 100%;
}
.myp_input_box.adress > * input {
  width: 100%;
}
.myp_input_box.adress .search {
  font-size: 0;
}
.myp_input_box.adress .search input {
  width: 8.8rem;
  flex: 0;
}
.myp_input_box.adress .myp_button {
  padding: 1.4rem 2.4rem;
  font-size: 1.4rem;
  letter-spacing: -0.014rem;
  margin-left: 0.8rem;
}

.myp_input_box:has(input[type="radio"]) {
  gap: 1.6rem;
  height: 3.8rem;
}
.myp_input_box input[type="radio"] {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.myp_input_box input[type="radio"] + label {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: rgba(0, 0, 0, 0.8);
  font-family: var(--font-500);
  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: -0.014rem;
}
.myp_input_box input[type="radio"] + label:before {
  content: "";
  width: 2.8rem;
  height: 2.8rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.8rem;
}
.myp_input_box input[type="radio"] + label:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28' fill='none'%3E%3Ccircle cx='14' cy='14' r='9.5' fill='white' stroke='%23DDDDDD'/%3E%3C/svg%3E");
}
.myp_input_box input[type="radio"]:checked + label:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28' fill='none'%3E%3Ccircle cx='14' cy='14' r='9.5' fill='white' stroke='black'/%3E%3Ccircle cx='14' cy='14' r='5' fill='black'/%3E%3C/svg%3E");
}

.myp_chackbox input[type="checkbox"] {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.myp_chackbox input[type="checkbox"] + label {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.myp_chackbox input[type="checkbox"] + label:before {
  content: "";
  width: 2.8rem;
  height: 2.8rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.8rem;
}
.myp_chackbox input[type="checkbox"] + label:before {
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='14' cy='14' r='10' fill='white'/%3E%3Ccircle cx='14' cy='14' r='9.5' stroke='black' stroke-opacity='0.16'/%3E%3Cpath d='M9 13.1818L12.8889 17L19 11' stroke='black' stroke-opacity='0.16'/%3E%3C/svg%3E%0A");
}
.myp_chackbox input[type="checkbox"]:checked + label:before {
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='14' cy='14' r='9.5' fill='white' stroke='black'/%3E%3Cpath d='M9 13.1818L12.8889 17L19 11' stroke='black'/%3E%3C/svg%3E%0A");
}

/* 상세페이지 */
.myp_detail_container {
  padding: 2.4rem 1.6rem 0;
}
.myp_detail_wrap {
  border-top: 2px solid #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.myp_detail_wrap:has(.myp_detail_answer) {
  border-bottom: none;
}
.myp_detail_header {
  padding: 2.4rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.myp_detail_header .sub_title {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  border-radius: 3rem;
  border: 1px solid #777;
  color: #777;
  font-family: var(--font-400);
  font-size: 1.2rem;
  line-height: 1;
  letter-spacing: -0.012rem;
}
.myp_detail_header .title {
  margin: 1.2rem 0;
  font-family: var(--font-700);
  font-size: 1.8rem;
  line-height: 1.4;
  letter-spacing: -0.018rem;
}
.myp_detail_header .date {
  color: rgba(0, 0, 0, 0.4);
  font-family: var(--font-400);
  font-size: 1.2rem;
  line-height: 1;
  letter-spacing: -0.012rem;
}
.myp_detail_body {
  padding: 2.4rem 0;
}
.myp_detail_body p {
  color: rgba(0, 0, 0, 0.8);
  font-family: var(--font-400);
  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: -0.014rem;
}

/* 문의 등록 완료 팝업 */
.myp_complete_pop {
  display: none;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 50%;
  max-width: 39.3rem;
  width: 100%;
  height: 100vh;
  transform: translateX(-50%);
  z-index: 100;
  padding: 0 1.6rem;
}
.myp_complete_pop.active {
  display: flex;
}
.myp_complete_pop_dimm {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  z-index: -1;
}
.myp_complete_wrap {
  position: relative;
  border-radius: 1.2rem;
  background-color: #fff;
  padding: 2.4rem;
}
.myp_complete_wrap .desc {
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-family: var(--font-500);
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: -0.016rem;
  margin-bottom: 2.4rem;
}
.myp_complete_wrap .myp_button_wrap {
  justify-content: center;
}
.myp_complete_wrap .myp_button {
  width: 16rem;
  flex: 0 0 auto;
}
