@charset "UTF-8";

#app_wrapper:has(.myp_inquiry_container) {
    background-color: var(--bg-light-gray);
}
footer {
    display: none;
}

/* 문의내역 */
.myp_inquiry_container {
    padding: 2.4rem 1.6rem 0;
    height: calc(100% - 5.4rem);
    position: relative;
}
.myp_inquiry_container:has(.bbb_empty_container) {
    display: flex;
    flex-direction: column;
    padding: 0 1.6rem;
}
.myp_inquiry_container .bbb_empty_container {
    margin-top: -5.4rem;
}
.myp_inquiry_container:has(.bbb_empty_container) {
    display: flex;
    flex-direction: column;
    padding: 0 1.6rem;
}
.myp_inquiry_container .bbb_empty_container {
    margin-top: -5.4rem;
}
.myp_inquiry_container:has(.myp_pagination) .myp_inquiry_list {
    margin-bottom: 15rem;
}
.myp_inquiry_container .myp_pagination {
    position: absolute;
    bottom: 8.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 3.2rem);
}

.myp_inquiry_list {
    margin-bottom: 8rem;
}
.myp_inquiry_item {
    padding: 2rem 1.6rem;
    border-radius: 1.2rem;
    background-color: #fff;
}
.myp_inquiry_item + .myp_inquiry_item {
    margin-top: 1rem;
}
.myp_inquiry_title {
    color: #000;
    font-family: var(--font-600);
    font-size: 1.6rem;
    line-height: 1.4;
    letter-spacing: -0.016rem;
}
.myp_inquiry_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.2rem;
}
.myp_inquiry_info {
    display: flex;
}
.myp_inquiry_info .sub_title,
.myp_inquiry_info .date {
    font-family: var(--font-400);
    font-size: 1.2rem;
    line-height: 1;
    letter-spacing: -0.012rem;
}
.myp_inquiry_info .sub_title {
    color: rgba(0, 0, 0, 0.56);
}
.myp_inquiry_info .sub_title:after {
    content: "";
    margin: 0 0.8rem;
    display: inline-block;
    height: 0.8rem;
    width: 0.1rem;
    background-color: rgba(0, 0, 0, 0.2);
}
.myp_inquiry_info .date {
    display: flex;
    gap: 0.4rem;
    color: rgba(0, 0, 0, 0.4);
}
.myp_inquiry_status {
    color: rgba(0, 0, 0, 0.56);
    font-family: var(--font-400);
    font-size: 1.2rem;
    line-height: 1;
    letter-spacing: -0.012rem;
}
.myp_inquiry_status.completed {
    display: flex;
    gap: 0.4rem;
    color: var(--color-primary-myp);
    font-family: var(--font-500);
}
.myp_inquiry_status.completed:before {
    content: "";
    display: inline-block;
    width: 1.21rem;
    height: 1.21rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Ccircle cx='6' cy='6' r='6' fill='%235700ED'/%3E%3Cpath d='M3 5.5L5.30769 8L9 4' stroke='white'/%3E%3C/svg%3E");
    background-position: center;
    background-size: 1.2rem;
    background-repeat: no-repeat;
}

/* 문의하기 */
.myp_inqWrite_container {
    padding: 4rem 1.6rem;
}

.myp_inqWrite_container .myp_input_attachment {
    border-radius: 1.2rem;
    background-color: #f5f5f5;
    padding: 1.6rem;
}
.myp_inqWrite_container .myp_attachment_inner {
    overflow-x: scroll;
    display: flex;
    scrollbar-width: none;
}
.myp_inqWrite_container .myp_input_attachment input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}
.myp_inqWrite_container .myp_input_attachment input[type="file"] + label {
    flex: 0 0 auto;
    width: 6.4rem;
    height: 6.4rem;
}
.myp_inqWrite_container .myp_attachment_preview {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    gap: 0.8rem;
}
.myp_inqWrite_container .myp_attachment_preview:has(.image_box) {
    margin-left: 0.8rem;
}
.myp_inqWrite_container .myp_attachment_preview .image_box {
    position: relative;
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 0.6rem;
    overflow: hidden;
}
.myp_inqWrite_container .myp_attachment_preview .btn_delete {
    position: absolute;
    right: 0;
    top: 0;
    width: 2.4rem;
    height: 2.4rem;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='3' y='3' width='18' height='18' rx='9' fill='black' fill-opacity='0.8'/%3E%3Cpath d='M8.25 8.25L15.75 15.75' stroke='white' stroke-linecap='round'/%3E%3Cpath d='M15.75 8.25L8.25 15.75' stroke='white' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2.4rem;
}
.myp_inqWrite_container .myp_input_attachment + .info_text {
    color: rgba(0, 0, 0, 0.56);
    font-family: var(--font-400);
    font-size: 1.2rem;
    line-height: 1.4;
    letter-spacing: -0.012rem;
    margin-top: 1.2rem;
}

.myp_inqWrite_container .inputform_info_text {
    color: rgba(0, 0, 0, 0.56);
    font-family: var(--font-400);
    font-size: 1.4rem;
    line-height: 1;
    letter-spacing: -0.014rem;
    margin-left: 3.2rem;
}
.myp_inqWrite_container .myp_button_wrap {
    margin-top: 3rem;
}

/* 문의하기 상세 */
.detail_attachment {
    overflow-x: scroll;
    scrollbar-width: none;
    display: flex;
    gap: 0.8rem;
    margin-top: 2.4rem;
}
.detail_attachment_item {
    width: 12rem;
    height: 12rem;
    flex: 0 0 auto;
}

.myp_detail_answer {
    border-radius: 0.6rem;
    background: #fafafa;
    padding: 2.4rem 1.6rem;
    margin-bottom: 2rem;
}
.myp_detail_answer .manager {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    margin-bottom: 1.2rem;
}
.myp_detail_answer .manager span:nth-of-type(1) {
    border-radius: 3rem;
    background-color: #000;
    color: #fff;
    font-family: var(--font-400);
    font-size: 1.2rem;
    line-height: 1;
    letter-spacing: -0.012rem;
    padding: 0.4rem 0.8rem;
}
.myp_detail_answer .manager span:nth-of-type(2) {
    color: rgba(0, 0, 0, 0.8);
    font-family: var(--font-500);
    font-size: 1.4rem;
    line-height: 1.4;
    letter-spacing: -0.014rem;
}
.myp_detail_answer p {
    color: rgba(0, 0, 0, 0.8);
    font-family: var(--font-400);
    font-size: 1.4rem;
    line-height: 1.48;
    letter-spacing: -0.014rem;
}
