@import "../base/base.css";
@import "../components/headerComponents.css";
@import "../components/footerComponents.css";
@import "../components/components.css";
@import "myp_common.css";

/* 회원정보 수정 */
.myp_editProfile_container {
  padding: 2.4rem 1.6rem 0;
}

.myp_editProfile_title {
  margin-bottom: 3rem;
  color: #000;
  font-family: var(--font-700);
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: -0.048rem;
}

.myp_editProfile_container .myp_input_group + .myp_input_group {
  margin-top: 2.4rem;
}

.myp_editProfile_container .myp_button_wrap {
  margin-top: 3rem;
}

.myp_agree_box {
  padding: 1.6rem;
  margin-top: 3rem;
  border-radius: 0.8rem;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background-color: #fafafa;
}
.myp_agree_top {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem 0 1.2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.myp_agree_top .title {
  color: #000;
  font-family: var(--font-700);
  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: -0.014rem;
}
.myp_agree_top .button {
  color: #000;
  font-family: var(--font-500);
  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: -0.014rem;
  padding: 0.8rem 1.2rem;
  border-radius: 0.4rem;
  border: 1px solid rgba(0, 0, 0, 0.16);
}
.myp_agree_bottom {
  margin-top: 1.2rem;
}
.myp_agree_check {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.myp_agree_check input[type="checkbox"] {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.myp_agree_check input[type="checkbox"] + label {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: rgba(0, 0, 0, 0.56);
  font-family: var(--font-400);
  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: -0.1rem;
}
.myp_agree_check input[type="checkbox"] + label:before {
  content: "";
  width: 2.8rem;
  height: 2.8rem;
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='4' y='4' width='20' height='20' rx='3' fill='white'/%3E%3Crect x='4.5' y='4.5' width='19' height='19' rx='2.5' stroke='black' stroke-opacity='0.16'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.8rem;
}
.myp_agree_check input[type="checkbox"]:checked + label:before {
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='4.5' y='4.5' width='19' height='19' rx='2.5' fill='white'/%3E%3Crect x='4.5' y='4.5' width='19' height='19' rx='2.5' stroke='black'/%3E%3Cpath d='M8.5 13.0455L12.7778 17.5L19.5 10.5' stroke='black'/%3E%3C/svg%3E ");
}
.myp_agree_desc {
  margin-top: 0.8rem;
  color: rgba(0, 0, 0, 0.56);
  font-family: var(--font-400);
  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: -0.014rem;
}

.myp_delete_account {
  margin-top: 3rem;
}
.myp_delete_account .button {
  color: #000;
  font-family: var(--font-500);
  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: -0.014rem;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
