@import "../base/base.css";
@import "../components/headerComponents.css";
@import "../components/footerComponents.css";
@import "../components/components.css";
@import "myp_common.css";

/* 제휴 문의 */
.myp_ptsInquiry_container {
  padding: 2.4rem 1.6rem 0;
}
.myp_ptsInquiry_container .myp_input_group {
  margin-bottom: 2.4rem;
}
.myp_ptsInquiry_container .myp_button_wrap {
  margin-top: 3rem;
}
.myp_ptsInquiry_container .myp_input_attachment .info_text {
  color: rgba(0, 0, 0, 0.56);
  font-family: var(--font-400);
  font-size: 1.2rem;
  line-height: 1;
  letter-spacing: -0.012rem;
  margin-bottom: 1.2rem;
}
.myp_ptsInquiry_container .myp_attachment_inner {
  padding: 1.6rem;
  border-radius: 0.6rem;
  background-color: #f5f5f5;
}
.myp_ptsInquiry_container .myp_attachment {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.myp_ptsInquiry_container .myp_attachment + label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.6rem;
  border-radius: 0.6rem;
  background-color: #fff;
}
.myp_ptsInquiry_container .myp_attachment + label img {
  width: 2rem;
  height: 2rem;
}
.myp_ptsInquiry_container .file_item {
  color: rgba(0, 0, 0, 0.8);
  font-family: var(--font-400);
  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: -0.014rem;
  padding: 0.4rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.4rem;
  margin-top: 0.8rem;
}
.myp_ptsInquiry_container .file_item .btn_delete {
  flex-shrink: 0;
  width: 2.4rem;
  height: 2.4rem;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='3' y='3' width='18' height='18' rx='9' fill='black' fill-opacity='0.8'/%3E%3Cpath d='M8.25 8.25L15.75 15.75' stroke='white' stroke-linecap='round'/%3E%3Cpath d='M15.75 8.25L8.25 15.75' stroke='white' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.4rem;
}
.myp_ptsInquiry_container .myp_chackbox input + label {
  color: rgba(0, 0, 0, 0.56);
  font-family: var(--font-400);
  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: -0.1rem;
}

/* 제휴 문의 등록 완료 */
body:has(.myp_ptsComplete_container) {
  height: 100vh;
}
body:has(.myp_ptsComplete_container) #app_wrapper main {
  padding-bottom: 4rem;
}
.myp_ptsComplete_container {
  padding: 0 1.6rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.myp_ptsComplete_box {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}
.myp_ptsComplete_box img {
  width: 14rem;
  height: 14rem;
}
.myp_ptsComplete_box .title {
  color: #000;
  text-align: center;
  font-family: var(--font-700);
  font-size: 2.2rem;
  line-height: 1;
  letter-spacing: -0.022rem;
  margin: 3.2rem 0 1.6rem;
}
.myp_ptsComplete_box .desc {
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-family: var(--font-400);
  font-size: 1.4rem;
  line-height: 1.48;
  letter-spacing: -0.014rem;
}
.myp_ptsComplete_container .myp_button_wrap {
  margin-top: auto;
}
