@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --color-primary-myp: #5700ed;
}

/* 접근성 */
.sr-only {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* 보조기기 접근성 강화용 */
}

/* 라운드 탭 */
.myp_round_tab {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  height: 4.3rem;
}
.myp_round_tab a,
.myp_round_tab button {
  padding: 0.8rem 1.4rem;
  color: #000;
  font-family: var(--font-500);
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: -0.015rem;
  border-radius: 3rem;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background-color: #fff;
}
.myp_round_tab a.active,
.myp_round_tab button.active {
  color: #fff;
  border: 1px solid var(--color-primary-myp);
  background-color: var(--color-primary-myp);
}

/* 스퀘어 탭 */
.myp_sqeure_tab {
  position: sticky;
  top: 5.4rem;
  display: flex;
}
.myp_sqeure_tab a,
.myp_sqeure_tab button {
  position: relative;
  flex: 1;
  padding: 1.6rem;
  color: rgba(0, 0, 0, 0.4);
  font-family: var(--font-700);
  font-size: 1.8rem;
  line-height: 1.4;
  letter-spacing: -0.018rem;
  text-align: center;
  background-color: #fff;
}
.myp_sqeure_tab a:before,
.myp_sqeure_tab button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.1rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.08);
}
.myp_sqeure_tab a.active,
.myp_sqeure_tab button.active {
  color: #000;
}
.myp_sqeure_tab a.active:before,
.myp_sqeure_tab button.active:before {
  height: 0.2rem;
  background-color: #000;
}

/* 페이지네이션 */
.myp_pagination {
  display: flex;
  justify-content: space-between;
}
.myp_pagination .page_preview,
.myp_pagination .page_next {
  width: 4rem;
  height: 4rem;
  border-radius: 1.2rem;
  font-size: 0;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2rem;
}
.myp_pagination .page_preview {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cg opacity='0.4'%3E%3Cpath d='M13 16L7.21213 10.2121C7.09497 10.095 7.09497 9.90503 7.21213 9.78787L13 4' stroke='black' stroke-linecap='round'/%3E%3C/g%3E%3C/svg%3E");
}
.myp_pagination .page_next {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.4'%3E%3Cpath d='M7 16L12.7879 10.2121C12.905 10.095 12.905 9.90503 12.7879 9.78787L7 4' stroke='black' stroke-linecap='round'/%3E%3C/g%3E%3C/svg%3E");
}
.myp_pagination .page_num_list {
  display: flex;
  gap: 0.8rem;
}
.myp_pagination .page_num_list .num {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  color: #000;
  font-family: var(--font-700);
  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: -0.014rem;
  border-radius: 1.2rem;
  background-color: #fff;
}
.myp_pagination .page_num_list .num.active {
  color: #fff;
  background-color: var(--color-primary-myp);
}

/* 공통 버튼 */
.myp_button_wrap {
  display: flex;
  gap: 0.8rem;
}
.myp_button {
  flex: 1;
  padding: 1.8rem 2.4rem;
  text-align: center;
  font-family: var(--font-600);
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: -0.016rem;
  border-radius: 0.6rem;
}
.myp_button.bd_grey {
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
.myp_button.bd_point {
  color: var(--color-primary-myp);
  border: 1px solid var(--color-primary-myp);
  background-color: #fff;
}
.myp_button.bg_grey {
  color: #fff;
  border: 1px solid transparent;
  background-color: #ccc;
}
.myp_button.bg_black {
  color: #fff;
  border: 1px solid transparent;
  background-color: 000;
}
.myp_button.bg_point {
  color: #fff;
  border: 1px solid transparent;
  background-color: var(--color-primary-myp);
}

/* 플로팅 버튼 */
.myp_floating_btnWrap {
  position: fixed;
  bottom: 10rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 39.3rem;
  padding: 0 1.6rem;
  z-index: 1;
}
.myp_floating_btn {
  padding: 1.2rem 1.6rem;
  color: #fff;
  font-family: var(--font-700);
  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: -0.014rem;
  border-radius: 3rem;
  background-color: var(--color-primary-myp);
  box-shadow: 0 4px 12px 0 rgba(93, 0, 255, 0.24);
}
